@using ReferralRockIntegration.ApiWrapper.Models.Referral
@model ReferralResponse

@{
    ViewData["Title"] = $"{(Model.Referrals.Any() ? $"{Model.Referrals[0].ReferringMemberName}''s referrals" : "")}";
}

@section Styles {
}

@if (!Model.Referrals.Any())
{
    <div>
        You don't have any referral, click <a href="/referral/new/@Model.">here</a> to register one
    </div>
    return;
}


<div class="flex flex-col">
    <div class="divide-y divide-slate-100">
        <nav class="text-sm font-medium">
            <ul class="flex space-x-3">
                <li><a href="/referral/new/" class="block px-3 py-2 rounded-md text-white bg-blue-400 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">New</a></li>
            </ul>
        </nav>
    </div>
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto">
                <table class="min-w-full">
                    <thead class="border-b">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                E-mail
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var member in Model.Referrals)
                    {
                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">@member.DisplayName</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">@member.Email</td>
                            <td>
                                <a href="#!" class="text-purple-600 hover:text-purple-700 transition duration-300 ease-in-out mb-4">Secondary link</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>